body {


	background-color: white;
	width: 1440px;
height: 1143px;
}

.column {

	width: 25%;
	float: left;
	padding: 0px 10px;

}

.row after {
content:"";
display: table;
clear: both;

}

.card {

position: absolute;
width: 360px;
height: 246px;
margin-left: 141px;
margin-top: 47px;

background: #2B3566;
border-radius: 20px;


}

.card h1 {
position: absolute;
width: 93px;
height: 23px;
margin-left: 200px;
margin-top: 40px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF

}

.card p {
	position: absolute;
width: 144px;
height: 58px;
margin-left: 200px;
margin-top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;

}



.column .card .link {
position: absolute;
	margin-left:200px;
	margin-top: 130px;
	color: white;
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
}

.column .card .icon {
position: absolute;
margin-left: 310px;
margin-right: 67.22%;
top: 200px;
bottom: 76.29%;

color: #45D3C2;

}

.column .card img {
border-width: 1em 2em 3em 4em;


}
